/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
*/

#signIn {
	margin: 10px;
}

body {
	background-color: #FFF;
	margin: 0;
}

#header {
	background-color: #f0f0ff;
	padding-bottom: 27px;
}

body {
	font-family: 'Helvetica Neue', 'Roboto', Arial, sans-serif;
	background-color: #FFF;
}

img[src="/static/wiab_screenshot.jpg"] {
	width: 50%;

}

#wiab_loginform {
	text-align: center;
	border-radius: 10px;
	padding: 10px;
	width: 325px;
	background-color: #f0f0ff;
	width: 46.5%;
	margin: 10px
}

.bubble {
	position:absolute;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	width: 283px;
}

img[src="/static/logo-big.png"]{
	display: block;
	margin: 0 auto;
	width: 100px;
}
.margin {
	padding: 10px;
	background-color: #f0f0ff;
	margin-right: 10px;
	border-radius: 10px;
	width: 45%;
	display: block;
	float: right;
}

#signinbutton {
	padding: 15px;
	background-color: #0066cc;
	color: #FFF;
	border-radius: 25px;
	text-decoration: none;
	float: right;
	margin-right: 10px;
	box-shadow: 2px 2px 5px #888888;
}

@media screen and (max-width: 760px) {
	img[src="/static/wiab_screenshot.jpg"] {
		width: 100%;
	}
	.margin {
		width: 97%;
		float: none;
	}
	#wiab_loginform {
		float: none;
		margin: 0;
		width: 97%
	}
	body {
		overflow-x: hidden;
	}
}